.app-container {
  padding: 30px;
  max-width: 900px;
}

.app-header {
  /* background-color: lightgray; */
  /* height: 70px; */
  margin: 10px 0 50px 0;
  /* display: flex; */
  /* align-items: center; */
}

.app-link {
  margin-right: 10px;
} 

.active-link {
  color: crimson;
  margin: 0 10px;
  font-weight: bolder;
  font-size: x-large;
}

.inactive-link {
  text-decoration: none;
  margin: 0 10px;
  color: #494949;
  font-size: larger;
}


.helloworld-header {
  margin: 10px 0 0 0;
}

.helloworld-subheader {
  margin: 250px 0 0 0;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.inviteLabel {
  margin-bottom: 10px;
}

.guestContainer {
  padding-left: 20px;
}
.errorMsg{
  color: red;
}
.successMsg{
  color: green;
}

.commentList {
  border: 1px solid black;
  padding: 20px;
  width: 450px;
}
.comment:first-child {
  margin-top: 0;
}
.comment {
  margin-top: 15px;
  display: flex;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding:10px;
}

.avatar {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author {
  font-weight: 600;
}